@charset "UTF-8";
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h3, h2, p {
  margin: 0;
}

body {
  font-family: "Roboto";
  padding: 0;
}

title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  border: #000 solid 1px;
}

.header__main {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.header__logo span {
  color: #2196F3;
}

.nav__list {
  display: flex;
  gap: 54px;
}
@media screen and (max-width: 600px) {
  .nav__list {
    display: none;
  }
}

.nav__link {
  color: #000;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s linear;
  position: relative;
}

.nav__link:after {
  content: "";
  background: #2196F3;
  height: 4px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0%;
  top: 57px;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 250ms cubic-bezier(1, -0.97, 0, -0.01) 250ms, transform 250ms cubic-bezier(1, -0.97, 0, -0.01) 250ms;
}

.nav__link:hover:after {
  opacity: 1;
  transform: scaleX(1);
}

.nav__link:hover {
  color: #2196F3;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .header__contacts {
    display: none;
  }
}

.contacts__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__link {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts__group:hover .contacts__link {
  color: #2196F3;
}

.contacts__group:hover path {
  fill: #2196F3;
}

.header__icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 480px) {
  .header__icon {
    display: none;
  }
}

.header__btn {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.header__btn .header__icon-cross {
  display: none;
}

.header__btn.is-open .header__icon-cross {
  display: block;
}

.header__btn.is-open .header__icon-menu {
  display: none;
}

.header__btn .header__icon-menu {
  display: block;
}

.header__pages {
  display: block;
  gap: 20px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.header__pages.is-open {
  display: block;
}

.header__page {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 30px;
  margin-left: 40px;
}

.header__titles {
  color: #212121;
}

.header__titles:hover {
  color: #2196F3;
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  margin-left: 40px;
  color: #757575;
}

.header__links {
  margin-top: 200px;
}

.header__link:hover {
  color: #2196F3;
}

.header__networks {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  display: flex;
  gap: 20px;
  margin-left: 40px;
  margin-top: 64px;
}

footer {
  gap: 75px;
  align-self: start;
  background: #2F303A;
  display: flex;
  padding-left: 215px;
}
@media screen and (max-width: 480px) {
  footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0%;
    height: 603px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

.footer__list {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 480px) {
  .footer__item {
    padding-top: 15px;
  }
}

.footer__adress {
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .footer__adress {
    padding-top: 20px;
  }
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

.network__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .network__title {
    padding-top: 60px;
  }
}

.networks__list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .networks__list {
    padding-top: 20px;
    justify-content: center;
  }
}

.networks svg {
  transition: all 1s cubic-bezier(0, -0.55, 1, 1.88);
  fill: #AFB1B8;
}

.networks:hover svg {
  fill: #FFFFFF;
}

.networks svg .icon-background {
  transition: all 1s cubic-bezier(0, -0.55, 1, 1.88);
  fill: rgba(255, 255, 255, 0.1);
}

.networks:hover svg .icon-background {
  fill: #2196F3;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .subscribe__title {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.subscribe__list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .subscribe__list {
    display: block;
  }
}

.subscribe__input {
  width: 380px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2F303A;
}
@media screen and (max-width: 480px) {
  .subscribe__input {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
  }
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 600;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196F3;
  border-radius: 4px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0%;
  padding: 0%;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 590px;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
}
@media screen and (max-width: 480px) {
  .modal {
    width: 400px;
    height: 609px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__btn {
  margin-top: 8px;
  margin-left: 92%;
  background-color: #FFFFFF;
  border: 1px;
  border-color: currentColor;
}
@media screen and (max-width: 480px) {
  .modal__btn {
    margin-left: 87%;
  }
}

.modal__h {
  padding-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 480px) {
  .modal__h {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}

.modal__list {
  padding-left: 41px;
  padding-right: 39px;
}

.modal__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.modal__label {
  position: relative;
}

.modal__text {
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 4px;
}
@media screen and (max-width: 480px) {
  .modal__text {
    font-size: 12px;
    line-height: 14px;
  }
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: #188CE8;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: currentColor;
}

.text__modal__button {
  color: #FFFFFF;
}

.modal__input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 382px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  .modal__input {
    width: 320px;
    height: 40px;
  }
}

.modal__text__input {
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  .modal__text__input {
    width: 320px;
    height: 120px;
  }
}

.modal__input:hover {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal-input {
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__checkbox {
  display: flex;
  gap: 4px;
}
@media screen and (max-width: 480px) {
  .modal__checkbox {
    padding-bottom: 30px;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 480px) {
  .checkbox {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
  }
}

.modal__link {
  color: #188CE8;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Imgsss.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 480px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/imgsss2.png);
  }
}

.hero__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.hero__title {
  width: 696px;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .hero__title {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 30px;
  }
}

.hero__btn {
  background: #2196F3;
  color: white;
  padding: 10px 24px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  padding-top: 94px;
}
@media screen and (max-width: 480px) {
  .team__title {
    font-size: 28px;
    line-height: 33px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.team__members {
  padding-top: 80px;
  text-align: center;
  height: 648px;
  top: 1449px;
  padding: 0 215px;
}
@media screen and (max-width: 480px) {
  .team__members {
    padding: 0%;
  }
}

.team {
  padding-bottom: 94px;
  background-color: #F5F4FA;
}
@media screen and (max-width: 480px) {
  .team {
    width: 100%;
    height: 2761px;
  }
}

.team__group {
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .team__group {
    width: 400px;
    height: 622px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.team__list {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 480px) {
  .team__list {
    margin-bottom: 30px;
  }
}

.team__img {
  width: 100%;
}

.team__name {
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 10px;
}

.team__position {
  color: #757575;
  padding: 0 0 32px;
}

.team__network-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 0 32px;
}

.team__networks svg {
  transition: all 1s cubic-bezier(0, -0.55, 1, 1.88);
  fill: #AFB1B8;
}

.team__networks:hover svg {
  fill: #FFFFFF;
}

.team__networks svg .icon-background {
  transition: all 1s cubic-bezier(0, -0.55, 1, 1.88);
  fill: rgba(255, 255, 255, 0.1);
}

.team__networks:hover svg .icon-background {
  fill: #2196F3;
}

.pic__group {
  display: flex;
  padding: 0%;
  gap: 30px;
  justify-content: center;
  padding-bottom: 94px;
}
@media screen and (max-width: 768px) {
  .pic__group {
    display: none;
  }
}

.pic__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  padding-top: 94px;
}
@media screen and (max-width: 480px) {
  .pic__title {
    display: none;
  }
}

.pic__img {
  width: 100%;
}

.pic__list {
  position: relative;
}

.pic__list::before {
  content: "";
  display: block;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  opacity: 1;
}

.pic__text {
  right: 25%;
  color: #FFFFFF;
  position: absolute;
  bottom: 20px;
  opacity: 1;
}

.particular {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 480px) {
  .particular {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.particular__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .particular__list {
    display: block;
    text-align: center;
  }
}

.particular__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.particular__item {
  width: 270px;
}
@media screen and (max-width: 480px) {
  .particular__item {
    width: 400px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 136px;
    margin-left: auto;
    margin-right: auto;
  }
}

.particular__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.particular__item:nth-child(1)::before {
  background-image: url(../../../Webstudio/img/antenna\ 1еее.png);
  background-size: 70px 70px;
}

.particular__item:nth-child(2)::before {
  background-image: url(../../../Webstudio/img/clock\ 1ввв.png);
  background-size: 70px 70px;
}

.particular__item:nth-child(3)::before {
  background-image: url(../../../Webstudio/img/diagram\ 1ннн.png);
  background-size: 70px 70px;
}

.particular__item:nth-child(4)::before {
  background-image: url(../../../Webstudio/img/astronaut\ 1.png);
  background-size: 70px 70px;
}

.clientage__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .clientage__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.clientage {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clientage__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}

.clientage__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  height: 90px;
  width: 170px;
}

.clientage__svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.clientage__item:hover {
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */