ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h3, h2, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Roboto";
  padding: 0;
}

title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  border: solid 1px #757575;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 10px 10px;
  }
}

header .container {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header__main {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__main {
    gap: 0;
  }
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}
@media screen and (min-width: 748px) {
  .header__logo {
    margin-right: 50px;
  }
}

.header__logo span {
  color: #2196F3;
}

.nav__list {
  display: flex;
  gap: 54px;
}
@media screen and (max-width: 480px) {
  .nav__list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav__list {
    gap: 55px;
  }
}

.nav__link {
  color: #000;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s linear;
  position: relative;
}

.nav__link:after {
  content: "";
  background: #2196F3;
  height: 4px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0%;
  top: 68px;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 250ms cubic-bezier(1, -0.97, 0, -0.01) 250ms, transform 250ms cubic-bezier(1, -0.97, 0, -0.01) 250ms;
}
@media screen and (max-width: 768px) {
  .nav__link:after {
    top: 76px;
  }
}

.nav__link:hover:after {
  opacity: 1;
  transform: scaleX(1);
}

.nav__link:hover {
  color: #2196F3;
}

.contacts {
  display: none;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    padding-top: 15px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .contacts {
    display: none;
  }
}

.header__contacts-svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .header__contacts-svg {
    width: 14px;
    height: 14px;
  }
}

.contacts__link {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts__group:hover .contacts__link {
  color: #2196F3;
}

.contacts__group:hover path {
  fill: #2196F3;
}

.header__icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 481px) {
  .header__icon {
    display: none;
  }
}

.header__btn {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.header__btn .header__icon-cross {
  display: none;
}

.header__btn.is-open .header__icon-cross {
  display: block;
}

.header__btn.is-open .header__icon-menu {
  display: none;
}

.header__btn .header__icon-menu {
  display: block;
}

.header__pages {
  display: block;
  gap: 20px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.header__pages.is-open {
  display: block;
}

.header__page {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 30px;
  margin-left: 40px;
}

.header__titles {
  color: #212121;
}

.header__titles:hover {
  color: #2196F3;
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  margin-left: 40px;
  color: #757575;
}

.header__links {
  margin-top: 200px;
}

.header__link:hover {
  color: #2196F3;
}

.header__networks {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  display: flex;
  gap: 20px;
  margin-left: 40px;
  margin-top: 64px;
}

footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 480px) {
  footer .container {
    display: block;
  }
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

.footer__list {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer__item {
    padding-top: 15px;
  }
}

.footer__adress {
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .footer__adress {
    padding-top: 20px;
  }
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer__networks {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__networks {
    margin-left: 70px;
  }
}

.network__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .network__title {
    padding-top: 60px;
  }
}

.network__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .network__list {
    justify-content: center;
  }
}

.networks {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.networks svg {
  transition: all 1s cubic-bezier(0, -0.55, 1, 1.88);
  fill: #AFB1B8;
}

.networks:hover svg {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 60px;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .subscribe__title {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__title {
    padding-bottom: 20px;
  }
}

.subscribe__list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .subscribe__list {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .subscribe__list {
    display: block;
  }
}

.subscribe__input {
  width: 380px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2F303A;
}
@media screen and (max-width: 480px) {
  .subscribe__input {
    width: 90%;
    height: 50px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 600;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.subscribe__svg {
  fill: #FFFFFF;
  width: 25px;
  height: 25px;
}

.network__svg {
  height: 25px;
  width: 25px;
}

.hero__btn {
  background: #F5F4FA;
  border-radius: 4px;
  height: 30px;
  border: none;
}
@media screen and (max-width: 768px) {
  .hero__btn {
    margin-top: 60px;
  }
}

.hero__btn:hover {
  background-color: #2196F3;
  color: #EEEEEE;
}

.hero__list {
  justify-content: center;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  main {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.posters__item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
@media screen and (min-width: 480px) {
  .posters__item {
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .posters__item {
    width: 354px;
  }
}

.posters__item::before {
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 75%;
  opacity: 0;
}

.posters__item:hover::before {
  opacity: 1;
  fill: url(cubic-bezier(0, 0.99, 1, 0.32));
}

.posters__hvr {
  position: relative;
}
@media screen and (min-width: 700px) {
  .posters__hvr {
    position: relative;
  }
}

.posters__hvr {
  right: 25%;
  color: #FFFFFF;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
  width: 100%;
  height: 168px;
  bottom: 40%;
  left: 5%;
  opacity: 0;
}

.posters__hvr:hover {
  opacity: 1;
}

.posters-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 34px;
}

.posters__img {
  width: 100%;
}

.posters__name {
  margin-top: 20px;
  margin-left: 24px;
  width: 322px;
}

.posters__position {
  margin-top: 15px;
  color: #757575;
  margin-left: 24px;
  margin-bottom: 20px;
}/*# sourceMappingURL=portfolio.css.map */