@import "./sass/base/reset" ;
@import "./sass/base/normalize" ;
@import "./sass/base/common" ;
@import "./sass/components/header" ;
@import "./sass/components/footer" ;
@import "./sass/components/hero" ;
@import "./sass/components/team" ;
@import "./sass/components/pic" ;
@import "./sass/components/particular" ;
@import "./sass/components/clientage" ;

 