body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}


/* header */
body{
    font-family: 'Roboto';
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

h1,h3,h2,p{
   margin: 0;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: solid #AFB1B8 1px;
}


.header__main {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.header__logo span {
  color: #2196F3;
}

.nav__list {
  display: flex;
  gap: 54px;
}

.nav__link {
  color: #000;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s linear;
  position: relative;
}

.nav__link:after{
    content: "";
    background: #2196F3;
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0%;
    top: 66px;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 250ms cubic-bezier(1,-0.97,0,-0.01) 250ms , transform 250ms cubic-bezier(1,-0.97,0,-0.01) 250ms;
}

.nav__link:hover:after{
    opacity: 1;
    transform: scaleX(1);
}

.nav__link:hover {
  color: #2196F3;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__link {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts__group:hover .contacts__link {
  color: #2196F3;
}

.contacts__group:hover path {
  fill: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}


    /* hero */
.hero__btn{
    margin-top: 165px;
    background: #F5F4FA;
    border-radius: 4px ;
    height: 30px;
    border-color: currentColor;
}

.hero__btn:hover{
  background-color: #2196F3;
  color: #EEEEEE;
  border-color: #2196F3;
}

.hero__list{
  justify-content: center;
  gap: 8px;
  display: flex;
  } 
  /* main */

.posters__item{
  position: relative;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.posters__item::before{
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    content: "" ;
    display: block ;
    position: absolute;
    width: 100%;
    height: 75%;
    opacity: 0;
}

.posters__item:hover::before{
  opacity: 1;
  fill: url(cubic-bezier(0,.99,1,.32));
}

.posters__hvr{
   position: relative;
}

.posters__hvr{
    right: 25%;
    color: #FFFFFF ;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
    width: 100%;
    height: 168px;
    bottom: 40%;
    left: 5%;
    opacity: 0;
}

.posters__hvr:hover{
   opacity: 1;
}
  
.posters-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 34px;
}

.posters__img {
  width: 100%;
}
  
.posters__name {
  margin-top: 20px;
  margin-left: 24px;
  width: 322px;
}
   
.posters__position{
  margin-top: 15px;
  color: #757575;
  margin-left: 24px;
  margin-bottom: 20px;
}

/* footer */
footer{
  background: #2F303A;
  height: 252px;
  left: 0px;
  top: 209px;
  padding: 0 215px;
}

.footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

.network__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
 }

.networks__list{
  display: flex;
  gap: 10px;
 }

 .network-list{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 0 32px;
}

.networks svg{
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: #AFB1B8;
}

.networks:hover svg{
  fill:#FFFFFF;
}

.networks svg .icon-background{
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: rgba(255, 255, 255, 0.1);;
}

.networks:hover svg .icon-background{
  fill:#2196F3;
}

.div{
  margin-left: 215px;
  padding-top: 60px;
  display:block;
}
 .clr{
  color: rgba(255, 255, 255, 0.6);
 }

 .pp{
  color: #FFFFFF;
 }

footer{
  gap:75px;
  align-self: start;
  background: #2F303A;
  display: flex;
  padding-left: 215px;
}

.footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

 .clr{
  color: rgba(255, 255, 255, 0.6);
 }

 .pp{
  color: #FFFFFF;
 }

.footer-mail{
  color: rgba(255, 255, 255, 0.6);
 }

.network__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
 }

.networks__list{
  display: flex;
  gap: 10px;
 }

.subscribe{

}

.subscribe__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}

.subscribe__list{
  display: flex;
  gap: 10px;
}

.subscribe__input{
  width: 380px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2F303A;
 }

.subscribe__btn{
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 600;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196F3;
  border-radius: 4px;
 }