body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}



/* header */
header{
    display:flex;
    align-items: center;
}

.dv{
  margin-left: 215px;
    margin-bottom: 25px;
    margin-top: 24px;
    font-weight: 700;
}

.web{
color: #2196F3;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}

.studio{
color:#0000;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}

.nav-item{
  color: #212121;
  font-weight: 500;
letter-spacing: 0.02em;
}

.nav-link{
  color: #757575;
}

.nav {
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 335px;
    align-items: center;
  }
  
  .nav__list {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 54px;
  }
  
  .group {
      display: flex;
      gap: 31px;
    }

    /* hero */
    .hero-btn{
      background: #F5F4FA;
      border-radius: 4px;
}

.hero-ul{
  justify-content: center;
  gap: 8px;
  display: flex;
}
/* main */
.container {
width: 370px;
height: 404px;
left: 215px;
top: 301px;
display: flex;
gap: 30px;
align-items: center;
margin-left:260px ;
  }
  
  .item2 {
    background: #FFFFFF;
border: 1px solid #EEEEEE;
  }
  .img {
    width: 100%;
  }
  
  .main_info {
    text-align: center;
  }
  
  .name {
   width: 322px;
   height: 50px;
  }
   
.position{
  color: #757575;

}

/* footer */
footer{
  background: #2F303A;
  width: 1600px;
height: 252px;
left: 0px;
top: 209px;
}

.div{
  margin-left: 215px;
  padding-top: 60px;
  display:block;
}
 .clr{
  color: rgba(255, 255, 255, 0.6);
 }

 .pp{
  color: #FFFFFF;
 }

 .footer-mail{
 color: rgba(255, 255, 255, 0.6);
 }