body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}


/* header */
.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ECECEC;
}


.header__main {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.header__logo span {
  color: #2196F3;
}

.nav__list {
  display: flex;
  gap: 54px;
}

.nav__link {
  color: #000;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s linear;
}

.nav__link:hover {
  color: #2196F3;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__link {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts__group:hover .contacts__link {
  color: #2196F3;
}

.contacts__group:hover path {
  fill: #2196F3;
}


.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}


    /* hero */
.hero-btn{
    background: #F5F4FA;
    border-radius: 4px ;
    border-color: currentColor;
}

.hero-btn:hover{
  background-color: #2196F3;
  color: #EEEEEE;
}

.hero-ul{
  justify-content: center;
  gap: 8px;
  display: flex;
  } 
  /* main */
  .mn{
  width: 370px;
  height: 404px;
  left: 215px;
  top: 301px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left:260px ;
  }
  
  .item2 {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
  }
  .img {
    width: 100%;
  }
  
  .main_info {
    text-align: center;
  }
  
  .name {
   width: 322px;
   height: 50px;
  }
   
.position{
  color: #757575;

}

/* footer */
footer{
  background: #2F303A;
  height: 252px;
  left: 0px;
  top: 209px;
  padding: 0 215px;
}

.footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

.div{
  margin-left: 215px;
  padding-top: 60px;
  display:block;
}
 .clr{
  color: rgba(255, 255, 255, 0.6);
 }

 .pp{
  color: #FFFFFF;
 }

 .footer-mail{
  color: rgba(255, 255, 255, 0.6);
 }