

h3{
    ont-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
 
h1{
    font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
background: #2F303A;
}
button{
background: #2196F3;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 30px;
color:#FFFFFF

}

p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}

h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
