
body{
    font-family: 'Roboto';
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

h1,h3,h2,p{
   margin: 0;
}


.container{
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.header__main {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.header__logo span {
  color: #2196F3;
}

.nav__list {
  display: flex;
  gap: 54px;
}

.nav__link {
  color: #000;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s linear;
}

.nav__link:hover {
  color: #2196F3;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__link {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts__group:hover .contacts__link {
  color: #2196F3;
}

.contacts__group:hover path {
  fill: #2196F3;
}


.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}


    
    /* секція герой */
    
    h1{  
    font-weight: 900;
    font-size: 44px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}

.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: #2196F3;
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/Imgsss.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.hero-section__title {
    margin: 0 0 30px;
}

.hero-section__btn {
    background: #2196F3;
    color: white;
    padding: 10px 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}


/* main */

.group-of-pic{
    display: flex;
    padding: 0%;
    gap: 30px;
    justify-content: center;
    padding-bottom: 94px;
}

.group-of{
  display: flex;
  justify-content: center;
}

.test__img {
  width: 100%;
}

.section-title{
  font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

.group-title{
  padding-top: 94px ;
}

.ns-cmd {
  padding-top: 80px;
  text-align: center;
  height: 648px;
  top: 1449px;
  padding: 0 215px;
}

.team-section{
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.group2 {
  display: flex;
  gap: 30px;
  justify-content: center;
}

  .item2 {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .img {
    width: 100%;
  }
  
  
  .title {
    text-align: center;
    margin: 0 0 50px;
  }
  
  .main_info {
  padding: 10px 0;
}

.name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 10px;
}

.position{
  color: #757575;
  padding: 0 0 32px;
}

.network-list{
  display: flex;
  justify-content: center;
  gap: 34px;
  padding: 0 0 42px;
}

.particular-section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.particular__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding: 0 215px;
}

.particular__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.particular__item{
  width: 270px;
}

.particular__item::before{
display: block;
content: "";
height: 120px;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
background-color: #F5F4FA;
margin-bottom: 30px;
}

.particular__item:nth-child(1)::before{
background-image: url(./img/antenna\ 1еее.png);
background-size: 70px 70px;
}

.particular__item:nth-child(2)::before{
background-image: url(./img/clock\ 1ввв.png);
background-size: 70px 70px;
}

.particular__item:nth-child(3)::before{
background-image: url(./img/diagram\ 1ннн.png);
background-size: 70px 70px;
}

.particular__item:nth-child(4)::before{
background-image: url(./img/astronaut\ 1.png);
background-size: 70px 70px;
}

.img-text{
  justify-content: center;
}


.item{
  color: #757575;
}

/* footer */
footer{
  background: #2F303A;
  height: 252px;
  left: 0px;
  top: 209px;
  padding: 0 215px;
}

.footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

 .clr{
  color: rgba(255, 255, 255, 0.6);
 }

 .pp{
  color: #FFFFFF;
 }

 .footer-mail{
  color: rgba(255, 255, 255, 0.6);
 }