body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
    padding: 0%;
}

a{
    text-decoration: none;
}



/* header */
header{
    display:flex;
    align-items: center;
}

.dv{
  margin-left: 215px;
    margin-bottom: 25px;
    margin-top: 24px;
    font-weight: 700;
}

.web{
color: #2196F3;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}

.studio{
color:#0000;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}

.nav-item{
  color: #212121;
  font-weight: 500;
letter-spacing: 0.02em;
}

.nav-link{
  color: #757575;
}

.nav {
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 335px;
    align-items: center;
  }
  
  .nav__list {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 54px;
  }
  
  .group {
      display: flex;
      gap: 31px;
    }
    
    
    
    
    /* секція герой */
    
    h1{  
        font-weight: 900;
    font-size: 44px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}

.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: #2196F3;
}

.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
}

/* main */

.group-of-pic{
    display: flex;
    padding: 0%;
    gap: 40px;
    justify-content: center;
}

.group-of{
    text-align: center;
}

.group2 {
    display: flex;
    gap: 30px;
  }

  .container {
    padding: 0 215px;
    text-align: center;
    width: 1600px;
height: 648px;
left: 0px;
top: 1449px;

background: #F5F4FA;
  }
  
  .item2 {
    border: 1px solid black;
  }
  .img {
    width: 100%;
  }
  
  .main_info {
    text-align: center;
    padding: 30px 0;
  }
  
  .title {
    text-align: center;
    margin: 0 0 50px;
  }
  
  .name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 10px;
  }

.text{
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 215px;
  padding-right: 214px;
}

.item{
  color: #757575;
}

/* footer */
footer{
  background: #2F303A;
  width: 1600px;
height: 252px;
left: 0px;
top: 209px;
}

.div{
  margin-left: 215px;
  margin-top: 60px;
  display:block;
}
 .clr{
  color: #757575;
 }

 .pp{
  color: #FFFFFF;
 }