
body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}


.container{
  padding: 0 215px;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.header__main {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.header__logo span {
  color: #2196F3;
}

.nav__list {
  display: flex;
  gap: 54px;
}

.nav__link {
  color: #000;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 12px 0;
  transition: all 0.3s linear;
}

.nav__link:hover {
  color: #2196F3;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__link {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts__group:hover .contacts__link {
  color: #2196F3;
}

.contacts__group:hover path {
  fill: #2196F3;
}


.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}


    
    /* секція герой */
    
    h1{  
        font-weight: 900;
    font-size: 44px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}

.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: #2196F3;
}


.hero-section {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(img/Imgsss.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 600px;
}

.hero-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.hero-section__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hero-section__title {
    margin: 0 0 30px;
}

.hero-section__btn {
    background: #2196F3;
    color: white;
    padding: 10px 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}


/* main */

.group-of-pic{
    display: flex;
    padding: 0%;
    gap: 30px;
    justify-content: center;
    /* padding-left: 180px;
    padding-right: 140px; */
}

.group-of{
  display: flex;
  justify-content: center;
}

.test__img {
  width: 100%;
}

.group2 {
  display: flex;
  gap: 30px;
}

.ns-cmd {
  padding-top: 80px;
  text-align: center;
  background-color: #F5F4FA;
  height: 648px;
  top: 1449px;
}
  
  .item2 {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .img {
    width: 100%;
  }
  
  .main_info {
    text-align: center;
    padding: 30px 0;
  }
  
  .title {
    text-align: center;
    margin: 0 0 50px;
  }
  
  .name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 10px;
  }
   
.position{
  color: #757575;
}

.particular__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding: 0 215px;
}

.particular__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.img-text-container {
  background-color:  #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.img-text{
  justify-content: center;
}


.item{
  color: #757575;
}

/* footer */
footer{
  background: #2F303A;
  height: 252px;
  left: 0px;
  top: 209px;
}

.footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

.div{
  margin-left: 215px;
  padding-top: 60px;
  display:block;
}
 .clr{
  color: rgba(255, 255, 255, 0.6);
 }

 .pp{
  color: #FFFFFF;
 }

 .footer-mail{
  color: rgba(255, 255, 255, 0.6);
 }