body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



/* header */
header{
    display:flex;
    align-items: center;
}

.nav-logo{
    margin-left: 215px;
}

.header-list{
    display:flex;

}

.header-ctcts{
    display:flex;
}

 /* секція герой */

h1{  
    font-weight: 900;
    font-size: 44px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
   margin: 0%;
   padding: 0%;
}

.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
}

.techolojis{
    display: flex;
}



