body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



/* header */
header{
    display:flex;
    align-items: center;
}

.nav-logo{
    margin-left: 215px;
    margin-bottom: 25px;
    margin-top: 24px
}

.nav {
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 335px;
    align-items: center;
  }
  
  .nav__list {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 54px;
  }
  
  .group {
      display: flex;
      gap: 31px;
    }
    
    
    
    
    /* секція герой */
    
    h1{  
        font-weight: 900;
    font-size: 44px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}

.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: #2196F3;
}

.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
}

/* main */

.group-of-pic{
    display: flex;
    align-content: center;
    gap: 40px;
}

.group-of{
    text-align: center;
}

.group2 {
    display: flex;
    gap: 30px;
  }

  .container {
    padding: 0 215px;
    text-align: center;
  }
  
  .item2 {
    border: 1px solid black;
  }
  .img {
    width: 100%;
  }
  
  .main_info {
    text-align: center;
    padding: 30px 0;
  }
  
  .title {
    text-align: center;
    margin: 0 0 50px;
  }
  
  .name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 10px;
  }


