.clientage__list{
  display: flex;
  gap: 30px;
  justify-content: center;
  
  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
   
  }
}

.clientage{ 
  padding-top: 94px;
  padding-bottom: 94px;
}

.clientage__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}

.clientage__item{
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  height: 90px;
  width: 170px;

  @media screen and (min-width: 480px) {
    width: 210px;
  }
}

.clientage__svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 50px;
  width: 50px;
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: #AFB1B8;
}

.clientage__svg-2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 50px;
  width: 80px;
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: #AFB1B8;
}

.clientage svg:hover{
  fill: #2196F3;
}

