footer{
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;

}

footer .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @media screen and (max-width: 480px) {
    display: block;
  }
}

.footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

.footer__list{
  color: rgba(255, 255, 255, 0.6);
}

.footer__item{
  @media screen and (min-width: 480px) {
    padding-top: 15px;
  }
}

.footer__adress{
  color: #FFFFFF;

  @media screen and (min-width: 480px) {
    padding-top: 20px;
  }
}

.footer-mail{
  color: rgba(255, 255, 255, 0.6);
}

.footer__networks{
 @media screen and (min-width: 768px) {
  margin-left: 165px;
 }

 @media screen and (min-width: 1200px) {
  margin-left: 70px;
 }
}

.network__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;

  @media screen and (max-width: 480px) {
    padding-top: 60px;
  }
}

.network__list{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  
  
  @media screen and (max-width: 480px) {
    justify-content: center;
  }
}

.networks{
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.networks svg{
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: #AFB1B8;
}

.networks:hover svg{
  fill:#2196F3;
}

.subscribe{
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.subscribe__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
  
  @media screen and (max-width: 480px) {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }
}

.subscribe__list{
  display: flex;
  gap: 10px;
  
  @media screen and (max-width: 480px) {
    display: block;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.subscribe__input{
  width: 380px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2F303A;

  @media screen and (max-width: 480px) {
    width: 90%;
    height: 50px;
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
 }

.subscribe__btn{
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 600;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196F3;
  border-radius: 4px;
 }

 .subscribe__svg{
  fill: #FFFFFF;
  width: 25px;
  height: 25px;
 }

 .network__svg{
  height: 25px;
  width: 25px;
 }