footer{
  gap:75px;
  align-self: start;
  background: #2F303A;
  display: flex;
  padding-left: 215px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__logo span {
  color: #2196F3;
}

 .clr{
  color: rgba(255, 255, 255, 0.6);
 }

 .pp{
  color: #FFFFFF;
 }

.footer-mail{
  color: rgba(255, 255, 255, 0.6);
 }

.network__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
 }

.networks__list{
  display: flex;
  gap: 10px;
 }

 .networks svg{
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: #AFB1B8;
}

.networks:hover svg{
  fill:#FFFFFF;
}

.networks svg .icon-background{
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: rgba(255, 255, 255, 0.1);;
}

.networks:hover svg .icon-background{
  fill:#2196F3;
}



.subscribe__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-content: center;
}

.subscribe__list{
  display: flex;
  gap: 10px;
}

.subscribe__input{
  width: 380px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2F303A;
 }

.subscribe__btn{
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 600;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196F3;
  border-radius: 4px;
 }