h1{  
    font-weight: 900;
    font-size: 44px;
    line-height: 60px; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}

.backdrop{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.2);;
}

.modal{
  position: absolute;
  width: 528px;
  height: 590px;
  transform: translate(-50%, -50%) ;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  top: 50%;
  left: 50%;

  @media screen and (max-width: 480px) {
    width: 400px;
    height: 609px;
  }
}

 .backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
 }

.modal__btn{
  margin-top: 8px;
  margin-left: 92%;
  background-color: #FFFFFF;
  border: 1px;
  border-color: currentColor;

  @media screen and (max-width: 480px) {
    margin-left: 87%;
    }
}

.modal__h{
  padding-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  @media screen and (max-width: 480px) {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}

.modal__list{
  padding-left: 41px;
  padding-right: 39px;
}

.modal__icon{
  position: absolute;
  top: 0;
  left: 0;
}

.modal__label{
  position: relative;
}

.modal__text{
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 4px;

  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 14px;
    }
}

.modal__button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: #188CE8;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: currentColor;
}

.text__modal__button{
  color: #FFFFFF;
}

.modal__input{
  width: 448px;
  height: 40px;
  left: 576px;
  top: 382px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 480px) {
    width: 320px;
    height: 40px;
    }
}

.modal__text__input{
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  @media screen and (max-width: 480px) {
    width: 320px;
    height: 120px;  
  }
}

.modal__input:hover{
 border: 1px solid #2196F3;
 border-radius: 4px;
}

.modal-input{
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__checkbox{
  display: flex;
  gap: 4px;

  @media screen and (max-width: 480px) {
    padding-bottom: 30px;
  }
}

.checkbox{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (max-width: 480px) {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    }
}

.modal__link{
  color: #188CE8;
}

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Imgsss.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    
    @media screen and (max-width: 480px) {
      height: 400px;
      padding-top: 118px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/imgsss2.png);
    }
}

.hero__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.hero__title {
    width: 696px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    @media screen and (max-width: 480px) {
      width: 360px;
      height: 84px; 
      font-size: 26px;
      line-height: 42px;
      margin-bottom: 30px;
    }
}

.hero__btn {
    background: #2196F3;
    color: white;
    padding: 10px 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border-radius:  4px;
}