.pic__group{
    display: flex;
    padding: 0%;
    gap: 30px;
    justify-content: center;
    padding-bottom: 94px;

    @media screen and (max-width: 1000px) {
      display: none;
    }

}

.pic__title{
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.pic__img {
  width: 100%;
}

.pic__list{
  position: relative;
}

.pic__list::before{
    content: "" ;
    display: block ;
    background-color: rgba(47, 48, 58, 0.8);;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    opacity: 1;
}

.pic__text{
    right: 25%;
    color: #FFFFFF ;
    position: absolute;
    bottom: 20px;
    opacity: 1;
}