.hero__btn{
    background: #F5F4FA;
    border-radius: 4px ;
    height: 30px;
    border: none;
  }
  
  .hero__btn:hover{
  background-color: #2196F3;
  color: #EEEEEE;
}

.hero__list{
  justify-content: center;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  
} 

main{
  @media screen and (max-width: 480px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 165px;
  }
}