.posters__item{
  position: relative;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.posters__item::before{
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    content: "" ;
    display: block ;
    position: absolute;
    width: 100%;
    height: 75%;
    opacity: 0;
}

.posters__item:hover::before{
  opacity: 1;
  fill: url(cubic-bezier(0,.99,1,.32));
}

.posters__hvr{
   position: relative;
}

.posters__hvr{
    right: 25%;
    color: #FFFFFF ;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
    width: 100%;
    height: 168px;
    bottom: 40%;
    left: 5%;
    opacity: 0;
}

.posters__hvr:hover{
   opacity: 1;
}
  
.posters-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 34px;
}

.posters__img {
  width: 100%;
}
  
.posters__name {
  margin-top: 20px;
  margin-left: 24px;
  width: 322px;
}
   
.posters__position{
  margin-top: 15px;
  color: #757575;
  margin-left: 24px;
  margin-bottom: 20px;
}