.team__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  padding-top: 94px ;

  @media screen and (max-width: 480px) {
    font-size: 28px;
    line-height: 33px;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.team{
  padding-bottom: 94px;
  background-color: #F5F4FA;
  display: flex;

  @media screen and (max-width: 480px) {
    width: 100%;
    height: 2100px;
  }
}

.team__list {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.team__item{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}

.team__img {
  width: 100%;
}

.team__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.team__position{
  color: #757575;
  padding-bottom: 28px;
  text-align: center;
  margin: 0%;
}

.team__network-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 32px;
}

.team__networks svg{
  transition: all 1s cubic-bezier(0,-0.55,1,1.88);
  fill: #AFB1B8;
}

.team__networks:hover svg{
  fill:#2196F3;
}

.team__svg{
  height: 25px;
  width: 25px;
}