body{
    font-family: 'Roboto';
    padding: 0;
}

title{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
   width: 1200px;
  }
}

